@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-inter);
  --font-detail: var(--font-open-sans);
  --font-accent: var(--font-anton);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
}

:root {
  --background: oklch(0.99 0 0);
  --foreground: oklch(0.145 0.01 195);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.767);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.767);

  --primary: oklch(0.5086 0.1249 195.76);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.9216 0.0277 195.35);
  --secondary-foreground: oklch(0.2077 0.0398 265.767);

  --muted: oklch(0.9431 0.0043 198.454);
  --muted-foreground: oklch(0.5193 0.0122 197.049);

  --accent: oklch(0.825 0.1005 187.464);
  --accent-foreground: oklch(0.2077 0.0398 265.767);

  --destructive: oklch(0.6279 0.2577 29.223);
  --destructive-foreground: oklch(1 0.0001 271.152);

  --border: oklch(0.8914 0.0087 197.645);
  --input: oklch(0.95 0 0);
  --ring: oklch(0.7086 0.1149 184.76);
}

.dark {
  --background: oklch(20.5% 0 0);
  --foreground: oklch(0.9431 0.0043 198.454);

  --card: oklch(0.1913 0 0);
  --card-foreground: oklch(0.9431 0.0043 198.454);

  --popover: oklch(0.1913 0 0);
  --popover-foreground: oklch(0.9431 0.0043 198.454);

  --primary: oklch(0.7086 0.1549 190.76);
  --primary-foreground: oklch(0.145 0.01 195);

  --secondary: oklch(0.253 0.0332 195.838);
  --secondary-foreground: oklch(0.9431 0.0043 198.454);

  --muted: oklch(0.3315 0.0134 196.678);
  --muted-foreground: oklch(0.7308 0.0102 197.383);

  --accent: oklch(0.5591 0.1245 185.776);
  --accent-foreground: oklch(0.9431 0.0043 198.454);

  --destructive: oklch(0.6488 0.237 26.959);
  --destructive-foreground: oklch(1 0.0001 271.152);

  --border: oklch(0.3027 0.0134 196.678);
  --input: oklch(0.3 0 0);
  --ring: oklch(0.7086 0.1149 184.76);
}

@layer base {
  * {
    @apply disabled:opacity-50 border-border outline-none disabled:pointer-events-none;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}
